<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="sunday_hug_styles.css">
</head>
<body>
    <div class="card card-info-sh">
        <div class="content">
            <div class="brand">{{BRAND_NAME}}</div>
            <div class="title">{{TITLE}}</div>
            <div class="items">
                <div class="item">
                    <div class="icon">{{ICON_1}}</div>
                    <div class="text">{{TEXT_1}}</div>
                </div>
                <div class="item">
                    <div class="icon">{{ICON_2}}</div>
                    <div class="text">{{TEXT_2}}</div>
                </div>
                <div class="item">
                    <div class="icon">{{ICON_3}}</div>
                    <div class="text">{{TEXT_3}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
